<div class="login">
  <div class="wrap">
    <%= render partial: "shared/right_side_bar", locals: {categories: @categories, search: @search} %>
    <div class="cont span_2_of_3">
      <%= render partial: "shared/tool_bar", locals: {products: @products, search: @search} %>
      <% @products_sliced.each_with_index do |products, index| %>
        <%= render "products", products: products %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
</div>
<% javascript_include_tag 'side_bar' %>
