<div class="mens-toolbar">
  <div class="sort">
    <div class="sort-by">
      <label>Sort By</label>
      <%= search_form_for search, url: shop_index_path do |f|%>
        <select name="sort" id="show-sort">
          <option value="">
            Popularity </option>
          <option value="ASC">
            Price : High to Low </option>
          <option value="DESC">
            Price : Low to High </option>
        </select>
        <%= f.submit "search", class: "btn btn-info", style: "display: none; margin-right: 10px"%>
      <% end %>
    </div>
  </div>
  <div class="pager">
    <%= render "shared/paginate", objects: products %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
