<div class="col_1_of_3 span_1_of_3">
  <a href="single.html">
    <div class="view view-fifth">
      <div class="top_box">
        <h3 class="m_1"><%= product.name %></h3>
        <p class="m_2">Product's category</p>
        <div class="grid_img">
          <div class="css3">
            <%= image_tag product.image_url || "pic.jpg" %>
          </div>
          <div class="mask">
            <div class="info">Quick View</div>
          </div>
        </div>
        <div class="price">£<%= product.price %></div>
      </div>
    </div>
    <ul class="list">
      <li>
        <%= image_tag "plus.png" %>
        <ul class="icon1 sub-icon1 profile_img">
          <li>
            <a class="active-icon c1" href="#">Detail</a>
            <ul class="sub-icon1 list">
              <li>
                <h3>sed diam nonummy</h3>
                <a href=""></a>
              </li>
              <li>
                <p>Lorem ipsum dolor sit amet, consectetuer
                  <a href="">adipiscing elit, sed diam</a>
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="clear"></div>
  </a>
</div>
