  <%= render "banner" %>
  <div class="main">
    <div class="wrap">
      <%= render "social" %>
      <%= render partial: "products", locals: {products_box1: @products_box1, products_box2: @products_box2} %>
      <%= render "shared/paginate", objects: @products %>
    </div>
  </div>
