<ul class="megamenu skyblue">
  <li>
    <%= link_to "Home", root_path %>
  </li>
  <li class="grid">
    <a class="color2" href="#">Men</a>
    <div class="megapanel">
      <div class="row">
        <div class="col1">
          <div class="h_nav">
            <h4>popular</h4>
            <ul>
              <li>
                <a href="shop.html">new arrivals</a>
              </li>
              <li>
                <a href="shop.html">men</a>
              </li>
              <li>
                <a href="shop.html">women</a>
              </li>
              <li>
                <a href="shop.html">accessories</a>
              </li>
              <li>
                <a href="shop.html">kids</a>
              </li>
              <li>
                <a href="shop.html">login</a>
              </li>
            </ul>
          </div>
          <div class="h_nav">
            <h4 class="top">men</h4>
            <ul>
              <li>
                <a href="shop.html">new arrivals</a>
              </li>
              <li>
                <a href="shop.html">men</a>
              </li>
              <li>
                <a href="shop.html">women</a>
              </li>
              <li>
                <a href="shop.html">accessories</a>
              </li>
              <li>
                <a href="shop.html">kids</a>
              </li>
              <li>
                <a href="shop.html">style videos</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        <%= image_tag "nav_img.jpg" %>
      </div>
    </div>
  </li>
  <li>
    <a class="color12" href="#">Basketball</a>
  </li>
</ul>
